In [1]:
import requests
import pandas as pd
import random

In [2]:
df = pd.read_csv("user.csv")
df.head()

,id,fname,lname,email,number,password,is_active,role_id
0,0,Kenneth,Ruiz,samueltaylor@example.com,448.805.2086x9686,O7LaRApT(O,False,1
1,1,Samantha,Weber,brendabailey@example.net,3330103604,+4*hcHIb47,True,1
2,2,Tammy,Montgomery,anitajones@example.org,448-916-5786,!u%3Wh$pGd,False,2
3,3,Jamie,Edwards,amberkim@example.com,414-187-0472,&0n(0Ny_!e,True,1
4,4,Leah,Jackson,ashleybrooks@example.net,784-741-1752,7(9DdIEz6$,False,2

In [15]:
d = df.iloc[[3]]['fname']
d

3    Jamie
Name: fname, dtype: object

In [ ]:
list(df[df['role_id']==50].index)
for _,row in df.iterrows():
    print(_)

In [51]:
d = random.sample(range(1, 93), 6).append(2)
# print(d)
# d = random.sample(range(1, 93), 6)
# print(d)
# d.extend([2])
print(d)

None