In [7]:
import requests
import pandas as pd
import random
from datetime import datetime, timezone

In [ ]:
# datetime.now() +20

In [10]:
df = pd.read_csv("user.csv")
df.head()

In [18]:
df.iloc[0]

id                                1
fname                       Cynthia
lname                     Cervantes
email        lhernandez@example.net
number           069-721-5830x19262
password                 %G@1ZIEmW1
is_active                      True
role_id                           2
Name: 0, dtype: object

In [22]:
num_user = 112
num_school = 4
num_ilt = 4
num_member_in_ilt = 7

for school_idx in range(num_school):
        for i in range(num_ilt):
            print(i)
            # print(i+(school_idx*num_ilt))

0
1
2
3
0
1
2
3
0
1
2
3
0
1
2
3

In [ ]:
list(df[df['role_id']==50].index)
for _,row in df.iterrows():
    print(_)

In [3]:
import json

ilt = {
    "title": "Example Title",
    "description": "Example Description",
    "owner_id": 12345
}

school_id = 6789

data = json.dumps({
    "title": ilt["title"],
    "description": ilt["description"],
    "schoolId": school_id,
    "owner_id": ilt["owner_id"],
    "memberIds": [51, 5, 54, 4]
})

json_data = data#json.dumps(data)
print(json_data)
# In this updated code, I've created a sample dictionary ilt with the necessary key-value pairs for title, description, and owner_id. I've also defined a school_id variable. The data dictionary is then created using the values from ilt and school_id. Finally, the json.dumps() function is used to convert the data dictionary into a JSON string, which is printed to the console.

{"title": "Example Title", "description": "Example Description", "schoolId": 6789, "owner_id": 12345, "memberIds": [51, 5, 54, 4]}